html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.galaxy-container {
  /* Other styles for the container element */
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgb(31, 30, 30);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.typing-text {
  font-size: 36px;
  color: white;
}
.typing-path {
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: stroke 3s linear forwards;
}

@keyframes stroke {
  0% {
    stroke-dasharray: 0 100;
  }
  100% {
    stroke-dasharray: 100 100;
  }
}
.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: move-star 10s linear infinite, twinkle 1s linear infinite;
}

@keyframes move-star {
  0% {
    transform: translate(-50%, -50%) translateX(-100%) translateY(-100%)
      scale(1);
  }
  100% {
    transform: translate(-50%, -50%) translateX(100%) translateY(100%) scale(5);
  }
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.calc-container {
  background-color: #45d9d9;
  padding: 15px;
  width: 80%;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.rmb-price {
  color: #136161;
  font-weight: 700;
  border-radius: 2px;
  padding: 5px 0 2px;
  border: none;
  outline: none;
}
span {
  font-weight: 700;
  color: rgb(251, 240, 240);
}
@media all and (min-width: 500px) {
  .calc-container {
    width: 300px;
  }
}
.logowatermark {
  width: 100px;
  height: 40px;
}
.countryButtons button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  text-align: center;
}
.countryButtons button:hover {
  transform: scale(1.04);
  cursor: pointer;
}
